lakeshore-adf/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "lakeshore-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TOWER_DAILY_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Tower Fact table Full Load",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOWER_FULL_LOAD_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Tower Dim table Full Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Tower Fact table Full Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOWER_FULL_LOAD_DIM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline Full Load 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Tower Dim table Full Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOWER FULL LOAD PIPELINE_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Production/Orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2024-01-12T14:18:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TOWER_INCREMENTAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Tower Incremental Load",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOWER_INCREMENTAL_LOAD_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Production/Orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-30T18:18:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRUX_DAILY_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline Legacy Full Load Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Master Data Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_LEGACY_FULL_LOAD_FACT_NEW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32
							}
						}
					},
					{
						"name": "Execute Pipeline Midwest Full Load Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Master Data Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MIDWEST_FULL_LOAD_FACT_NEW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32
							}
						}
					},
					{
						"name": "Master Data Load",
						"description": "Reloading TRUX master metadata.",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MASTER_DATA_FULL_LOAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline Legacy Full Load Dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline Legacy Full Load Fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_LEGACY_DATA_LOAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline Midwest Full Load Dim",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline Midwest Full Load Fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MIDWEST_DATA_LOAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Production/Orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-14T15:28:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRUX_DAILY_LOAD_OLD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run TRUX LEGACY DIM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run TRUX LEGACY Fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_LEGACY_FULL_LOAD_DIM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32
							}
						}
					},
					{
						"name": "Run TRUX MIDWEST DIM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run TRUX MIDWEST Fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MIDWEST_FULL_LOAD_DIM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32
							}
						}
					},
					{
						"name": "Run TRUX LEGACY Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Master Data Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_LEGACY_FULL_LOAD_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32
							}
						}
					},
					{
						"name": "Run TRUX MIDWEST Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Master Data Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MIDWEST_FULL_LOAD_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32
							}
						}
					},
					{
						"name": "Master Data Load",
						"description": "Reloading TRUX master metadata.",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MASTER_DATA_FULL_LOAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Production/TRUX_OLD"
				},
				"annotations": [],
				"lastPublishTime": "2023-10-16T19:01:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRUX_INCREMENTAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run TRUX LEGACY Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_LEGACY_INCREMENTAL_LOAD_FACT_NEW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32,
								"Incremental_Range": "14"
							}
						}
					},
					{
						"name": "Run TRUX MIDWEST Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MIDWEST_INCREMENTAL_LOAD_FACT_NEW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32,
								"Incremental_Range": "14"
							}
						}
					},
					{
						"name": "Run TRUX LEGACY LOGGING Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_LEGACY_LOGGING_INCREMENTAL_LOAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32,
								"Incremental_Range": 14
							}
						}
					},
					{
						"name": "Run TRUX MIDWEST LOGGING Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUX_MIDWEST_LOGGING_INCREMENTAL_LOAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Maximum_DIU": 16,
								"Degree_Copy_Parallelism": 32,
								"Incremental_Range": 14
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Production/Orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-13T23:45:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VENA_DAILY_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Vena Financialj Model Daily Load",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VENA_FINANCIAL_MODEL DAILY_LOAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Production/Orchestration"
				},
				"annotations": [],
				"lastPublishTime": "2023-11-02T17:06:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_process_files_weekly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_process_adp_terminations_file",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-09-21T19:33:00",
						"timeZone": "Central Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8
							],
							"weekDays": [
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_process_files_daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SOFTPAK_DAILY_LOAD",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "VENA_DAILY_LOAD",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ADP_HOURS_DAILY",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-26T01:25:00",
						"timeZone": "Central Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VENA_DAILY_LOAD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_process_sql_daily_full_load')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily pipeline run of Tower data to Snowflake.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "TOWER_DAILY_LOAD",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "TRUX_DAILY_LOAD",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-12T18:53:00",
						"timeZone": "Central Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/TOWER_DAILY_LOAD')]",
				"[concat(variables('factoryId'), '/pipelines/TRUX_DAILY_LOAD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_process_sql_daily_incremental_load')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Incremental pipeline run for Tower data to Snowflake.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "TOWER_INCREMENTAL_LOAD",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "TRUX_INCREMENTAL_LOAD",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-14T07:56:00",
						"timeZone": "Central Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8,
								20,
								11,
								14
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/TOWER_INCREMENTAL_LOAD')]",
				"[concat(variables('factoryId'), '/pipelines/TRUX_INCREMENTAL_LOAD')]"
			]
		}
	]
}