lakeshore-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "lakeshore-adf"
		},
		"ildc93_dm01_SQL_Server_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ildc93_dm01_SQL_Server'",
			"defaultValue": "Integrated Security=False;Data Source=@{linkedService().server};Initial Catalog=@{linkedService().db};User ID=@{linkedService().username};Password=@{linkedService().pw}"
		},
		"msaz01_dm01_SQL_Server_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'msaz01_dm01_SQL_Server'",
			"defaultValue": "Integrated Security=False;Data Source=@{linkedService().server};Initial Catalog=@{linkedService().db};User ID=@{linkedService().username};Password=@{linkedService().pw}"
		},
		"msaz01_dm01_Snowflake_Raw_V2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'msaz01_dm01_Snowflake_Raw_V2'"
		},
		"msaz01_dm01_Azure_Blob_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'msaz01_dm01_Azure_Blob'"
		},
		"msaz01_dm01_Snowflake_Raw_V2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().database}"
		},
		"msaz01_dm01_Snowflake_Raw_V2_properties_typeProperties_role": {
			"type": "string",
			"defaultValue": "ACCOUNTADMIN"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SOFTPAK_SALES_RAW_EACH_FILE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFilename": {
						"type": "string",
						"defaultValue": "variable_sales_report_2021.csv"
					}
				},
				"folder": {
					"name": "SOFTPAK"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().pFilename",
							"type": "Expression"
						},
						"folderPath": "Variable_sales_report",
						"container": "softpak"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ACCT YYMM",
						"type": "String"
					},
					{
						"name": "COMPANY",
						"type": "String"
					},
					{
						"name": "CUST #",
						"type": "String"
					},
					{
						"name": "CUST NAME",
						"type": "String"
					},
					{
						"name": "TAXBODY",
						"type": "String"
					},
					{
						"name": "CYCLE",
						"type": "String"
					},
					{
						"name": "GL CODE",
						"type": "String"
					},
					{
						"name": "DATE",
						"type": "String"
					},
					{
						"name": "SIZE CD",
						"type": "String"
					},
					{
						"name": "CHG CD",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "EQUIP CD",
						"type": "String"
					},
					{
						"name": "VAR 3",
						"type": "String"
					},
					{
						"name": "VAR 4",
						"type": "String"
					},
					{
						"name": "QTY",
						"type": "String"
					},
					{
						"name": "BILLED AMT",
						"type": "String"
					},
					{
						"name": "MASTER AMT",
						"type": "String"
					},
					{
						"name": "VARIANCE",
						"type": "String"
					},
					{
						"name": "VAR FLAG",
						"type": "String"
					},
					{
						"name": "INV #",
						"type": "String"
					},
					{
						"name": "W/O ACT DATE",
						"type": "String"
					},
					{
						"name": "SUB COMP",
						"type": "String"
					},
					{
						"name": "SUB CUST #",
						"type": "String"
					},
					{
						"name": "ORIG W/O#",
						"type": "String"
					},
					{
						"name": "ADJ USER",
						"type": "String"
					},
					{
						"name": "CUST START",
						"type": "String"
					},
					{
						"name": "CUST STOP",
						"type": "String"
					},
					{
						"name": "BILL FIRST NAME",
						"type": "String"
					},
					{
						"name": "BILL LAST NAME",
						"type": "String"
					},
					{
						"name": "BILL ADDRESS #",
						"type": "String"
					},
					{
						"name": "BILL ST DIR",
						"type": "String"
					},
					{
						"name": "BILL ST NAME",
						"type": "String"
					},
					{
						"name": "BILL ST SUFFIX",
						"type": "String"
					},
					{
						"name": "BILL ST DIR2",
						"type": "String"
					},
					{
						"name": "BILL APT",
						"type": "String"
					},
					{
						"name": "BILL ADDRESS-2",
						"type": "String"
					},
					{
						"name": "BILL CITY",
						"type": "String"
					},
					{
						"name": "BILL STATE",
						"type": "String"
					},
					{
						"name": "BILL ZIP",
						"type": "String"
					},
					{
						"name": "SERV NAME",
						"type": "String"
					},
					{
						"name": "SERV ADDRESS #",
						"type": "String"
					},
					{
						"name": "SERV ST DIR",
						"type": "String"
					},
					{
						"name": "SERV ST NAME",
						"type": "String"
					},
					{
						"name": "SERV ST SUFFIX",
						"type": "String"
					},
					{
						"name": "SERV ST DIR2",
						"type": "String"
					},
					{
						"name": "SERV APT",
						"type": "String"
					},
					{
						"name": "SERV ADDRESS-2",
						"type": "String"
					},
					{
						"name": "SERV CITY",
						"type": "String"
					},
					{
						"name": "SERV STATE",
						"type": "String"
					},
					{
						"name": "SERV ZIP",
						"type": "String"
					},
					{
						"name": "AREA CODE",
						"type": "String"
					},
					{
						"name": "PHONE #",
						"type": "String"
					},
					{
						"name": "CR LIMIT",
						"type": "String"
					},
					{
						"name": "VARIABLE 1",
						"type": "String"
					},
					{
						"name": "VARIABLE 2",
						"type": "String"
					},
					{
						"name": "CONTACT",
						"type": "String"
					},
					{
						"name": "RES CUSTOMER",
						"type": "String"
					},
					{
						"name": "PREV CYCLE",
						"type": "String"
					},
					{
						"name": "PRICE LIST",
						"type": "String"
					},
					{
						"name": "MATERIAL",
						"type": "String"
					},
					{
						"name": "UOM",
						"type": "String"
					},
					{
						"name": "UNITS",
						"type": "String"
					},
					{
						"name": "SALES ID",
						"type": "String"
					},
					{
						"name": "FEE CODE",
						"type": "String"
					},
					{
						"name": "ROUTE",
						"type": "String"
					},
					{
						"name": "VEHICLE",
						"type": "String"
					},
					{
						"name": "DRIVER",
						"type": "String"
					},
					{
						"name": "LANDFILL CODE",
						"type": "String"
					},
					{
						"name": "TICKET #",
						"type": "String"
					},
					{
						"name": "COST",
						"type": "String"
					},
					{
						"name": "BIN TYPE",
						"type": "String"
					},
					{
						"name": "RATE",
						"type": "String"
					},
					{
						"name": "SVC TYPE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VENA_Raw_Archive_All_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Vena"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "processed",
						"container": "vena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VENA_Raw_Archive_Each')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Vena"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": "processed",
						"container": "vena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_Account",
						"type": "String"
					},
					{
						"name": "_Location",
						"type": "String"
					},
					{
						"name": "_Line/Dept",
						"type": "String"
					},
					{
						"name": "_Material Type/Customer",
						"type": "String"
					},
					{
						"name": "_Data Source",
						"type": "String"
					},
					{
						"name": "_Year",
						"type": "String"
					},
					{
						"name": "_Period",
						"type": "String"
					},
					{
						"name": "_Scenario",
						"type": "String"
					},
					{
						"name": "_Measure",
						"type": "String"
					},
					{
						"name": "_value",
						"type": "String"
					},
					{
						"name": "_etl_id",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VENA_Raw_Each_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Vena"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": "finance_model",
						"container": "vena"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_Account",
						"type": "String"
					},
					{
						"name": "_Location",
						"type": "String"
					},
					{
						"name": "_Line/Dept",
						"type": "String"
					},
					{
						"name": "_Material Type/Customer",
						"type": "String"
					},
					{
						"name": "_Data Source",
						"type": "String"
					},
					{
						"name": "_Year",
						"type": "String"
					},
					{
						"name": "_Period",
						"type": "String"
					},
					{
						"name": "_Scenario",
						"type": "String"
					},
					{
						"name": "_Measure",
						"type": "String"
					},
					{
						"name": "_value",
						"type": "String"
					},
					{
						"name": "_etl_id",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ildc93_dm01_SQL_Server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"server": {
						"type": "string"
					},
					"db": {
						"type": "string"
					},
					"username": {
						"type": "string"
					},
					"pw": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ildc93_dm01_SQL_Server_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ildc93-dm01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/msaz01_dm01_Azure_Blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('msaz01_dm01_Azure_Blob_sasUri')]"
				},
				"connectVia": {
					"referenceName": "msaz01-dm01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/msaz01_dm01_SQL_Server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SQL server linked service for MSAZ01.",
				"parameters": {
					"server": {
						"type": "string"
					},
					"db": {
						"type": "string"
					},
					"username": {
						"type": "String"
					},
					"pw": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('msaz01_dm01_SQL_Server_connectionString')]"
				},
				"connectVia": {
					"referenceName": "msaz01-dm01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/msaz01_dm01_Snowflake_Raw_V2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"database": {
						"type": "string",
						"defaultValue": "LRS_RAW"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "bk40410.central-us.azure",
					"user": "SVC_ELT",
					"database": "[parameters('msaz01_dm01_Snowflake_Raw_V2_properties_typeProperties_database')]",
					"warehouse": "LRS_RAW_ADF_COMPUTE",
					"role": "[parameters('msaz01_dm01_Snowflake_Raw_V2_properties_typeProperties_role')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('msaz01_dm01_Snowflake_Raw_V2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "msaz01-dm01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADP_HOURS_CSV_CONVERSION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get XLS Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ADP_Hours_XLS_ALL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Convert each file to CSV and delete",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get XLS Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get XLS Files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy XLS file to CSV",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Employee ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Employee ID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Employee Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Employee Name",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Manager ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Manager ID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Manager Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Manager Name",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Effective Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Effective Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Historical Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Historical Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Home DEPARTMENT",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Home DEPARTMENT",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Home LOCATION",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Home LOCATION",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Home COMPANY",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Home COMPANY",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Home Reserved4",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Home Reserved4",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Home JOBTITLE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Home JOBTITLE",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Home Reserved6",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Home Reserved6",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Home MANAGER",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Home MANAGER",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Pay Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Pay Code",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Hours",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Hours",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Money",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Money",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Days",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Days",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Wages",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Wages",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Base Wage",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Base Wage",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Comment(s)",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Comment(s)",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ADP_Hours_XLS",
											"type": "DatasetReference",
											"parameters": {
												"pFilename": {
													"value": "@activity('Get XLS Files').output.itemName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ADP_Hours_CSV",
											"type": "DatasetReference",
											"parameters": {
												"pFileName": {
													"value": "@replace(activity('Get XLS Files').output.itemName,'.xls','.csv')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete XLS file",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy XLS file to CSV",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ADP_Hours_XLS",
											"type": "DatasetReference",
											"parameters": {
												"pFilename": {
													"value": "@activity('Get XLS Files').output.itemName",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-07T17:52:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADP_Terminations_Raw_All_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_Azure_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "terms.csv",
						"container": "adp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_Azure_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADP_Terminations_Raw_Each_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_Azure_Blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "terms.csv",
						"container": "adp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_Azure_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ILDC93')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ildc93_dm01_SQL_Server",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": "10.170.2.4  ",
						"db": {
							"value": "@dataset().db",
							"type": "Expression"
						},
						"username": "lrsquery",
						"pw": "T0werQu3ry?"
					}
				},
				"parameters": {
					"db": {
						"type": "string"
					},
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ildc93_dm01_SQL_Server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LRS_Snowflake_Raw_V2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_Snowflake_Raw_V2",
					"type": "LinkedServiceReference",
					"parameters": {
						"database": "LRS_RAW"
					}
				},
				"parameters": {
					"Snowflake_Sink_Table": {
						"type": "string",
						"defaultValue": "DESTINATION"
					},
					"Snowflake_Schema": {
						"type": "string",
						"defaultValue": "TOWER_RAW"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Snowflake_Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Snowflake_Sink_Table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_Snowflake_Raw_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LRS_Snowflake_Sandbox_V2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_Snowflake_Raw_V2",
					"type": "LinkedServiceReference",
					"parameters": {
						"database": "LRS_SANDBOX"
					}
				},
				"parameters": {
					"Snowflake_Sink_Table": {
						"type": "string",
						"defaultValue": "VENA_FINANCE_MODEL"
					},
					"Snowflake_Schema": {
						"type": "string",
						"defaultValue": "VENA_RAW"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Snowflake_Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Snowflake_Sink_Table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_Snowflake_Raw_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSAZ01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_SQL_Server",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": "msaz01-sql01",
						"db": {
							"value": "@dataset().database",
							"type": "Expression"
						},
						"username": "AzureSQLReadOnlyMW",
						"pw": "4QcH9zAzure01"
					}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"database": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AC01_PART",
						"type": "nvarchar"
					},
					{
						"name": "AC01_DATE",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "AC01_QTY",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "AC01_AVGCOST",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_SQL_Server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSAZ01_TOWER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_SQL_Server",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": "10.170.2.4",
						"db": {
							"value": "@dataset().db",
							"type": "Expression"
						},
						"username": "lrsquery",
						"pw": "T0werQu3ry?"
					}
				},
				"parameters": {
					"db": {
						"type": "string"
					},
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_SQL_Server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SOFTPAK_DISPOSAL_SITE_RAW_ALL_FILES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_Azure_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SOFTPAK"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Variable_disposal_site_report",
						"container": "softpak"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CO",
						"type": "String"
					},
					{
						"name": "DISPOSAL",
						"type": "String"
					},
					{
						"name": "MATERIAL",
						"type": "String"
					},
					{
						"name": "DATE",
						"type": "String"
					},
					{
						"name": "ROUTE",
						"type": "String"
					},
					{
						"name": "DRIVER",
						"type": "String"
					},
					{
						"name": "VEHICLE",
						"type": "String"
					},
					{
						"name": "TAX BODY",
						"type": "String"
					},
					{
						"name": "TICKET",
						"type": "String"
					},
					{
						"name": "UNITS",
						"type": "String"
					},
					{
						"name": "COST",
						"type": "String"
					},
					{
						"name": "BIL$",
						"type": "String"
					},
					{
						"name": "ROUTE TYPE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_Azure_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SoftPak_Disposal_site_Raw_EachFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_Azure_Blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": "Variable_disposal_site_report",
						"container": "softpak"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CO",
						"type": "String"
					},
					{
						"name": "DISPOSAL",
						"type": "String"
					},
					{
						"name": "MATERIAL",
						"type": "String"
					},
					{
						"name": "DATE",
						"type": "String"
					},
					{
						"name": "ROUTE",
						"type": "String"
					},
					{
						"name": "DRIVER",
						"type": "String"
					},
					{
						"name": "VEHICLE",
						"type": "String"
					},
					{
						"name": "TAX BODY",
						"type": "String"
					},
					{
						"name": "TICKET",
						"type": "String"
					},
					{
						"name": "UNITS",
						"type": "String"
					},
					{
						"name": "COST",
						"type": "String"
					},
					{
						"name": "BIL$",
						"type": "String"
					},
					{
						"name": "ROUTE TYPE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_Azure_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRUX_LEGACY01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_SQL_Server",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": "msaz01-sql01\\TRUX_LEGACY01",
						"db": {
							"value": "@dataset().database",
							"type": "Expression"
						},
						"username": "AzureSQLReadOnly",
						"pw": "4QcH9zAzure01"
					}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"database": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AC01_PART",
						"type": "nvarchar"
					},
					{
						"name": "AC01_DATE",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "AC01_QTY",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "AC01_AVGCOST",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_SQL_Server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VENA_Raw_All_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "msaz01_dm01_Azure_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Vena"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "finance_model",
						"container": "vena"
					},
					"columnDelimiter": "|",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "_Account",
						"type": "String"
					},
					{
						"name": "_Location",
						"type": "String"
					},
					{
						"name": "_Line/Dept",
						"type": "String"
					},
					{
						"name": "_Material Type/Customer",
						"type": "String"
					},
					{
						"name": "_Data Source",
						"type": "String"
					},
					{
						"name": "_Year",
						"type": "String"
					},
					{
						"name": "_Period",
						"type": "String"
					},
					{
						"name": "_Scenario",
						"type": "String"
					},
					{
						"name": "_Measure",
						"type": "String"
					},
					{
						"name": "_value",
						"type": "String"
					},
					{
						"name": "_etl_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/msaz01_dm01_Azure_Blob')]"
			]
		}
	]
}