pipeline/Tower_Test.json
{
	"name": "Tower_Test",
	"properties": {
		"activities": [
			{
				"name": "Tower Table Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "VW_TOWER_WATERMARK_PVT",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Ardetail Delta Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Tower Table Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "Select * from ARdetail \nwhere replace(ARDETAILUID, '-', '') >  '@{activity('Tower Table Names').output.value}.ARDETAIL'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"ON_ERROR": "CONTINUE"
							}
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "msaz01_dm01_Azure_Blob",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					},
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "msaz01_dm01_Azure_Blob",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ARDETAILUID",
									"type": "String"
								},
								"sink": {
									"name": "ARDETAILUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SOURCEUID",
									"type": "String"
								},
								"sink": {
									"name": "SOURCEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "Int64"
								},
								"sink": {
									"name": "STATUS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CUSTID",
									"type": "String"
								},
								"sink": {
									"name": "CUSTID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SITEID",
									"type": "String"
								},
								"sink": {
									"name": "SITEID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MATERIAL",
									"type": "String"
								},
								"sink": {
									"name": "MATERIAL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DETAILTYPE",
									"type": "Int64"
								},
								"sink": {
									"name": "DETAILTYPE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TAX",
									"type": "String"
								},
								"sink": {
									"name": "TAX",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DEBITACCT",
									"type": "String"
								},
								"sink": {
									"name": "DEBITACCT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CREDITACCT",
									"type": "String"
								},
								"sink": {
									"name": "CREDITACCT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "INVOICEUID",
									"type": "String"
								},
								"sink": {
									"name": "INVOICEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TRANSACTIONDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DUEDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "DUEDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "GLEXPORTBATCHUID",
									"type": "String"
								},
								"sink": {
									"name": "GLEXPORTBATCHUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "QUANTITY",
									"type": "Int64"
								},
								"sink": {
									"name": "QUANTITY",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "UNITRATE",
									"type": "Int64"
								},
								"sink": {
									"name": "UNITRATE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "ORIGINALAMOUNT",
									"type": "Int64"
								},
								"sink": {
									"name": "ORIGINALAMOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "BALANCE",
									"type": "Int64"
								},
								"sink": {
									"name": "BALANCE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "BILLEDAPPLIEDAMOUNT",
									"type": "Int64"
								},
								"sink": {
									"name": "BILLEDAPPLIEDAMOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "DISPLAYONINVOICE",
									"type": "Int64"
								},
								"sink": {
									"name": "DISPLAYONINVOICE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "DETAILSOURCE",
									"type": "Int64"
								},
								"sink": {
									"name": "DETAILSOURCE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "COMPANYID",
									"type": "String"
								},
								"sink": {
									"name": "COMPANYID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CREATEDDATETIME",
									"type": "DateTime"
								},
								"sink": {
									"name": "CREATEDDATETIME",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CREDITACCTSEGTYPE",
									"type": "Int64"
								},
								"sink": {
									"name": "CREDITACCTSEGTYPE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "DEBITACCTSEGTYPE",
									"type": "Int64"
								},
								"sink": {
									"name": "DEBITACCTSEGTYPE",
									"type": "Int64"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "MSAZ01_TOWER",
						"type": "DatasetReference",
						"parameters": {
							"db": "Tower7",
							"schema": "dbo",
							"table": "Ardetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "LRS_Snowflake_Raw_IR_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "ARDETAIL",
							"Snowflake_Schema": "TOWER_RAW"
						}
					}
				]
			},
			{
				"name": "WorkOrder ID Delta Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Payment Delta Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from Workorder \nwhere workorderid>  '@{activity('Tower Table Names').output.value}.WORKORDER'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"preCopyScript": "truncate table LRS_RAW.TOWER_RAW.WORKORDER_1",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"ON_ERROR": "CONTINUE"
							}
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "msaz01_dm01_Azure_Blob",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					},
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "msaz01_dm01_Azure_Blob",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WorkOrderID",
									"type": "String"
								},
								"sink": {
									"name": "WORKORDERID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WorkOrderUID",
									"type": "Guid"
								},
								"sink": {
									"name": "WORKORDERUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WorkPONbr",
									"type": "String"
								},
								"sink": {
									"name": "WORKPONBR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DestCertificate",
									"type": "String"
								},
								"sink": {
									"name": "DESTCERTIFICATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CODRequired",
									"type": "Int16"
								},
								"sink": {
									"name": "CODREQUIRED",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CustomerDataFileUID",
									"type": "Guid"
								},
								"sink": {
									"name": "CUSTOMERDATAFILEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvoiceMessage",
									"type": "String"
								},
								"sink": {
									"name": "INVOICEMESSAGE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Printed",
									"type": "Int16"
								},
								"sink": {
									"name": "PRINTED",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "PrintDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "PRINTDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "PrintUser",
									"type": "String"
								},
								"sink": {
									"name": "PRINTUSER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Destination",
									"type": "String"
								},
								"sink": {
									"name": "DESTINATION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ServiceQuantity",
									"type": "Decimal"
								},
								"sink": {
									"name": "SERVICEQUANTITY",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "ServiceUOM",
									"type": "String"
								},
								"sink": {
									"name": "SERVICEUOM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ReferenceNumber",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCENUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TagNumber",
									"type": "String"
								},
								"sink": {
									"name": "TAGNUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FinalManifestDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "FINALMANIFESTDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "IsNoChargePickup",
									"type": "Boolean"
								},
								"sink": {
									"name": "ISNOCHARGEPICKUP",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "MSAZ01_TOWER",
						"type": "DatasetReference",
						"parameters": {
							"db": "Tower7",
							"schema": "dbo",
							"table": "WORKORDER"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "LRS_Snowflake_Raw_IR_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "WORKORDER",
							"Snowflake_Schema": "TOWER_RAW"
						}
					}
				]
			},
			{
				"name": "Invoice Delta Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GLExportBatch Delta Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from INVOICE \nwhere replace(INVOICEUID, '-', '') >  '@{activity('Tower Table Names').output.value}.INVOICE'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"ON_ERROR": "CONTINUE"
							}
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "msaz01_dm01_Azure_Blob",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					},
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "msaz01_dm01_Azure_Blob",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "InvoiceUID",
									"type": "Guid"
								},
								"sink": {
									"name": "INVOICEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvoiceID",
									"type": "String"
								},
								"sink": {
									"name": "INVOICEID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "Int16"
								},
								"sink": {
									"name": "STATUS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "InvoiceContent",
									"type": "Int16"
								},
								"sink": {
									"name": "INVOICECONTENT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "PrintInvoice",
									"type": "Int16"
								},
								"sink": {
									"name": "PRINTINVOICE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "InvoiceOrderKey",
									"type": "String"
								},
								"sink": {
									"name": "INVOICEORDERKEY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillBatchUID",
									"type": "Guid"
								},
								"sink": {
									"name": "BILLBATCHUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillCustID",
									"type": "String"
								},
								"sink": {
									"name": "BILLCUSTID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "BillSiteID",
									"type": "String"
								},
								"sink": {
									"name": "BILLSITEID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "BillName",
									"type": "String"
								},
								"sink": {
									"name": "BILLNAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillContact",
									"type": "String"
								},
								"sink": {
									"name": "BILLCONTACT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillAddressUID",
									"type": "Guid"
								},
								"sink": {
									"name": "BILLADDRESSUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillPhone",
									"type": "String"
								},
								"sink": {
									"name": "BILLPHONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillFax",
									"type": "String"
								},
								"sink": {
									"name": "BILLFAX",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BillEmail",
									"type": "String"
								},
								"sink": {
									"name": "BILLEMAIL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SiteAddressUID",
									"type": "Guid"
								},
								"sink": {
									"name": "SITEADDRESSUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvoiceDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "INVOICEDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "LastInvoiceDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LASTINVOICEDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DueDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "DUEDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "FinanceChargeThruDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "FINANCECHARGETHRUDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CustClass",
									"type": "String"
								},
								"sink": {
									"name": "CUSTCLASS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BalForward",
									"type": "Decimal"
								},
								"sink": {
									"name": "BALFORWARD",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AgingBal00",
									"type": "Decimal"
								},
								"sink": {
									"name": "AGINGBAL00",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AgingBal01",
									"type": "Decimal"
								},
								"sink": {
									"name": "AGINGBAL01",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AgingBal02",
									"type": "Decimal"
								},
								"sink": {
									"name": "AGINGBAL02",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AgingBal03",
									"type": "Decimal"
								},
								"sink": {
									"name": "AGINGBAL03",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AgingBal04",
									"type": "Decimal"
								},
								"sink": {
									"name": "AGINGBAL04",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "NewBalance",
									"type": "Decimal"
								},
								"sink": {
									"name": "NEWBALANCE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotSvcOneTime",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTSVCONETIME",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotSvcRecurring",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTSVCRECURRING",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotSvcOnCall",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTSVCONCALL",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotSvcTaxes",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTSVCTAXES",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotFinCharges",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTFINCHARGES",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotCharges",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTCHARGES",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotChargeTaxes",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTCHARGETAXES",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotCredits",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTCREDITS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotCreditTaxes",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTCREDITTAXES",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TotPayments",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTPAYMENTS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AutomaticPaymentType",
									"type": "Int16"
								},
								"sink": {
									"name": "AUTOMATICPAYMENTTYPE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CompanyID",
									"type": "String"
								},
								"sink": {
									"name": "COMPANYID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvoiceMailingOption",
									"type": "Int16"
								},
								"sink": {
									"name": "INVOICEMAILINGOPTION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvoiceInsert",
									"type": "String"
								},
								"sink": {
									"name": "INVOICEINSERT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ExternalInvoiceNbr",
									"type": "String"
								},
								"sink": {
									"name": "EXTERNALINVOICENBR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvoiceDetailFormat",
									"type": "Int16"
								},
								"sink": {
									"name": "INVOICEDETAILFORMAT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LineOfBusiness",
									"type": "String"
								},
								"sink": {
									"name": "LINEOFBUSINESS",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "MSAZ01_TOWER",
						"type": "DatasetReference",
						"parameters": {
							"db": "Tower7",
							"schema": "dbo",
							"table": "INVOICE"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "LRS_Snowflake_Raw_IR_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "INVOICE",
							"Snowflake_Schema": "TOWER_RAW"
						}
					}
				]
			},
			{
				"name": "GLExportBatch Delta Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ardetail Delta Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from GLEXPORTBATCH \nwhere replace(GLEXPORTBATCHUID, '-', '') >  '@{activity('Tower Table Names').output.value}.GLEXPORTBATCH'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"ON_ERROR": "CONTINUE"
							}
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "msaz01_dm01_Azure_Blob",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					},
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "msaz01_dm01_Azure_Blob",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GLExportBatchUID",
									"type": "Guid"
								},
								"sink": {
									"name": "GLEXPORTBATCHUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GLExportBatchID",
									"type": "String"
								},
								"sink": {
									"name": "GLEXPORTBATCHID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "ExportDateTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "EXPORTDATETIME",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "Int16"
								},
								"sink": {
									"name": "STATUS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CreditTotal",
									"type": "Decimal"
								},
								"sink": {
									"name": "CREDITTOTAL",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "DebitTotal",
									"type": "Decimal"
								},
								"sink": {
									"name": "DEBITTOTAL",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FileCount",
									"type": "Int32"
								},
								"sink": {
									"name": "FILECOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "BatchType",
									"type": "Int16"
								},
								"sink": {
									"name": "BATCHTYPE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CompanyID",
									"type": "String"
								},
								"sink": {
									"name": "COMPANYID",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "Period",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CompanyList",
									"type": "String"
								},
								"sink": {
									"name": "COMPANYLIST",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PeriodList",
									"type": "String"
								},
								"sink": {
									"name": "PERIODLIST",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "MSAZ01_TOWER",
						"type": "DatasetReference",
						"parameters": {
							"db": "Tower7",
							"schema": "dbo",
							"table": "GLEXPORTBATCH"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "LRS_Snowflake_Raw_IR_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "GLEXPORTBATCH",
							"Snowflake_Schema": "TOWER_RAW"
						}
					}
				]
			},
			{
				"name": "Payment Delta Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Invoice Detail Delta Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from payment \nwhere replace(paymentuid, '-', '') >  '@{activity('Tower Table Names').output.value}.PAYMENT'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"ON_ERROR": "CONTINUE"
							}
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "msaz01_dm01_Azure_Blob",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					},
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "msaz01_dm01_Azure_Blob",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PaymentUID",
									"type": "Guid"
								},
								"sink": {
									"name": "PAYMENTUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PaymentBatchUID",
									"type": "Guid"
								},
								"sink": {
									"name": "PAYMENTBATCHUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BatchSequence",
									"type": "Int32"
								},
								"sink": {
									"name": "BATCHSEQUENCE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "SourceUID",
									"type": "Guid"
								},
								"sink": {
									"name": "SOURCEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PaymentDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "PAYMENTDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "Int16"
								},
								"sink": {
									"name": "STATUS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "ClearOrNSFDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CLEARORNSFDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CustID",
									"type": "String"
								},
								"sink": {
									"name": "CUSTID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PaymentMethod",
									"type": "Int16"
								},
								"sink": {
									"name": "PAYMENTMETHOD",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CreditCardType",
									"type": "Int16"
								},
								"sink": {
									"name": "CREDITCARDTYPE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "PaymentBankAcct",
									"type": "String"
								},
								"sink": {
									"name": "PAYMENTBANKACCT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PaymentIDNbr",
									"type": "String"
								},
								"sink": {
									"name": "PAYMENTIDNBR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "Decimal"
								},
								"sink": {
									"name": "AMOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "ApplicationMethod",
									"type": "Int16"
								},
								"sink": {
									"name": "APPLICATIONMETHOD",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "RemoveCreditHold",
									"type": "Int16"
								},
								"sink": {
									"name": "REMOVECREDITHOLD",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CreditAmount",
									"type": "Decimal"
								},
								"sink": {
									"name": "CREDITAMOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CreditReason",
									"type": "String"
								},
								"sink": {
									"name": "CREDITREASON",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PaymentNote",
									"type": "String"
								},
								"sink": {
									"name": "PAYMENTNOTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CustomerBalance",
									"type": "Decimal"
								},
								"sink": {
									"name": "CUSTOMERBALANCE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "BankAccountXRefUID",
									"type": "Guid"
								},
								"sink": {
									"name": "BANKACCOUNTXREFUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CollectionsNotified",
									"type": "Int16"
								},
								"sink": {
									"name": "COLLECTIONSNOTIFIED",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "CustomerPaymentAccountUID",
									"type": "Guid"
								},
								"sink": {
									"name": "CUSTOMERPAYMENTACCOUNTUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ReversedByDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "REVERSEDBYDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ReversedByUserID",
									"type": "String"
								},
								"sink": {
									"name": "REVERSEDBYUSERID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ReversalReasonNote",
									"type": "String"
								},
								"sink": {
									"name": "REVERSALREASONNOTE",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "MSAZ01_TOWER",
						"type": "DatasetReference",
						"parameters": {
							"db": "Tower7",
							"schema": "dbo",
							"table": "PAYMENT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "LRS_Snowflake_Raw_IR_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "PAYMENT",
							"Snowflake_Schema": "TOWER_RAW"
						}
					}
				]
			},
			{
				"name": "Invoice Detail Delta Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Invoice Delta Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from INVOICEDETAIL \nwhere replace(INVOICEDETAILUID, '-', '') > '@{activity('Tower Table Names').output.value}.INVOICEDETAIL'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"ON_ERROR": "SKIP_FILE"
							}
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "msaz01_dm01_Azure_Blob",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					},
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "msaz01_dm01_Azure_Blob",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "InvoiceDetailUID",
									"type": "Guid"
								},
								"sink": {
									"name": "INVOICEDETAILUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "InvoiceUID",
									"type": "Guid"
								},
								"sink": {
									"name": "INVOICEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SiteID",
									"type": "String"
								},
								"sink": {
									"name": "SITEID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ServiceUID",
									"type": "Guid"
								},
								"sink": {
									"name": "SERVICEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SourceUID",
									"type": "Guid"
								},
								"sink": {
									"name": "SOURCEUID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SourceIDNbr",
									"type": "String"
								},
								"sink": {
									"name": "SOURCEIDNBR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LineType",
									"type": "Int16"
								},
								"sink": {
									"name": "LINETYPE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "LineSubType",
									"type": "Int16"
								},
								"sink": {
									"name": "LINESUBTYPE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "SvcCode",
									"type": "String"
								},
								"sink": {
									"name": "SVCCODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Salesperson",
									"type": "String"
								},
								"sink": {
									"name": "SALESPERSON",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SvcFrequency",
									"type": "String"
								},
								"sink": {
									"name": "SVCFREQUENCY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Decimal"
								},
								"sink": {
									"name": "QUANTITY",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "Decimal"
								},
								"sink": {
									"name": "AMOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal"
								},
								"sink": {
									"name": "UNITPRICE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "TaxAmount",
									"type": "Decimal"
								},
								"sink": {
									"name": "TAXAMOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "StartDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "STARTDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "EndDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ENDDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "PrintRecord",
									"type": "Int16"
								},
								"sink": {
									"name": "PRINTRECORD",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "LineOrderKey1",
									"type": "String"
								},
								"sink": {
									"name": "LINEORDERKEY1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LineOrderKey2",
									"type": "String"
								},
								"sink": {
									"name": "LINEORDERKEY2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LineOrderKey3",
									"type": "String"
								},
								"sink": {
									"name": "LINEORDERKEY3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LineOrderKey4",
									"type": "String"
								},
								"sink": {
									"name": "LINEORDERKEY4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PONbr",
									"type": "String"
								},
								"sink": {
									"name": "PONBR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "POSource",
									"type": "Int16"
								},
								"sink": {
									"name": "POSOURCE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AssignedToCollections",
									"type": "Int16"
								},
								"sink": {
									"name": "ASSIGNEDTOCOLLECTIONS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "AssignedToCollectionsDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ASSIGNEDTOCOLLECTIONSDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DiscountAmount",
									"type": "Decimal"
								},
								"sink": {
									"name": "DISCOUNTAMOUNT",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "PriorARDStatus",
									"type": "Int16"
								},
								"sink": {
									"name": "PRIORARDSTATUS",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "LineLevel",
									"type": "Int16"
								},
								"sink": {
									"name": "LINELEVEL",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "SiteAddressUID",
									"type": "Guid"
								},
								"sink": {
									"name": "SITEADDRESSUID",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "MSAZ01_TOWER",
						"type": "DatasetReference",
						"parameters": {
							"db": "Tower7",
							"schema": "dbo",
							"table": "INVOICEDETAIL"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "LRS_Snowflake_Raw_IR_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "INVOICEDETAIL",
							"Snowflake_Schema": "TOWER_RAW"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-29T04:22:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}