pipeline/TOWER_FULL_LOAD_FACT.json
{
	"name": "TOWER_FULL_LOAD_FACT",
	"properties": {
		"activities": [
			{
				"name": "Tower Table Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "VW_TOWER_WATERMARK",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Tower Table Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Tower Table Names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table ',item().Snowflake_Schema,'.', item().Table_Name)}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										}
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01_TOWER",
									"type": "DatasetReference",
									"parameters": {
										"db": "Tower7",
										"schema": "dbo",
										"table": {
											"value": "@item().Table_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_IR_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "@item().Table_name",
										"Snowflake_Schema": "@item().Snowflake_Schema"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Production/TOWER"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-29T04:22:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}