pipeline/TRUX_LEGACY_FULL_LOAD_DIM.json
{
	"name": "TRUX_LEGACY_FULL_LOAD_DIM",
	"properties": {
		"activities": [
			{
				"name": "Loop over databases",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Database Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Database Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LM03 Copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name,'.LM03')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									}
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "LM03_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "LM03_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM03_SIZE",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM03_SIZE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM03_COMP",
												"type": "Boolean"
											},
											"sink": {
												"name": "LM03_COMP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM03_WTYP",
												"type": "String"
											},
											"sink": {
												"name": "LM03_WTYP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM03_CAP",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM03_CAP",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM03_MATL",
												"type": "String"
											},
											"sink": {
												"name": "LM03_MATL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM03_PRICE",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM03_PRICE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM03_UOM",
												"type": "String"
											},
											"sink": {
												"name": "LM03_UOM",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "LM03",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "LM03",
										"Snowflake_Schema": "@item().Snowflake_Name"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Database Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "STG_LEGACY_SY03",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Maximum_DIU": {
				"type": "int",
				"defaultValue": 16
			},
			"Degree_Copy_Parallelism": {
				"type": "int",
				"defaultValue": 32
			}
		},
		"folder": {
			"name": "Production/TRUX_OLD"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-30T17:58:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}