pipeline/TRUX_MIDWEST_INCREMENTAL_LOAD_FACT.json
{
	"name": "TRUX_MIDWEST_INCREMENTAL_LOAD_FACT",
	"properties": {
		"activities": [
			{
				"name": "Trux Midwest ID Watermark Lookup",
				"description": "look up schema, database and table names from sqlsever and snowflake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "VW_TRUX_MIDWEST_WATERMARK_PVT",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Incremental Loop Over ID Watermark Tables",
				"description": "Activity to loop over tables that have primary keys with incremental IDs. This loops looks at our Watermark table in Snowflake and appends any IDs found in SQL server that are greater than the latest watermark in Snowflake.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Trux Midwest ID Watermark Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Trux Midwest ID Watermark Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DM01 Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM01\nwhere DM01_ID > @{item().DM01}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM01_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01_CUST",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01_CUST",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01_SITE",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01_SITE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01_INVC",
												"type": "String"
											},
											"sink": {
												"name": "DM01_INVC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01_SSIT",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01_SSIT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01_PBLE",
												"type": "String"
											},
											"sink": {
												"name": "DM01_PBLE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01_BILLINDV",
												"type": "String"
											},
											"sink": {
												"name": "DM01_BILLINDV",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01_CONTRACT",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01_CONTRACT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01_AMOUNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM01_AMOUNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01_ORIGINVID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01_ORIGINVID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01_FCTY",
												"type": "String"
											},
											"sink": {
												"name": "DM01_FCTY",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM01",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM01",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM01p Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM01 Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM01P\nwhere DM01P_ID > @{item().DM01P}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM01P_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM01P_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_BATCH",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_BATCH",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GLNU",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_GLNU",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINKID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINKID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GROUP",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_GROUP",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM01P",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM01P",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05A Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM01p Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM05A\nwhere DM05A_ID > @{item().DM05A}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05A_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_ROUT",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ROUT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_SEQU",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_SEQU",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_NOTEID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05A",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05A",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05B Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05A Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM05B\nwhere DM05B_ID > @{item().DM05B}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05B_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ARATEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ARATEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_NOTEID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05B",
										"database": {
											"value": "@item().sql_db_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05B",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05FT Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05B Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM05FT\nwhere DM05FT_ID > @{item().DM05FT}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05FT_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05FT_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05FT_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05FT_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05FT_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05FT_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05FT_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05FT_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05FT_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05FT_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05FT_SSIT",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05FT_SSIT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05FT_SERV",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05FT_SERV",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05FT_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05FT_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05FT_DESC",
												"type": "String"
											},
											"sink": {
												"name": "DM05FT_DESC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05FT_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05FT_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05FT_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05FT_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05FT_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05FT_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05FT_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05FT_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05FT_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05FT_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05FT_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05FT_NOTEID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05FT",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05FT",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05Z Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05FT Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM05Z\nwhere DM05Z_ID > @{item().DM05Z}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05Z_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_NOTEID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05Z",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05Z",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LM02 Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05Z Incremental Delta Load",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from LM02\nwhere LM02_ID > @{item().LM02}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "LM02_DSTE",
												"type": "String"
											},
											"sink": {
												"name": "LM02_DSTE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_NUMB",
												"type": "String"
											},
											"sink": {
												"name": "LM02_NUMB",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_INOT",
												"type": "Boolean"
											},
											"sink": {
												"name": "LM02_INOT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_DQTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_DQTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_DUOM",
												"type": "String"
											},
											"sink": {
												"name": "LM02_DUOM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_DAMT",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_DAMT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_CUST",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_CUST",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_SITE",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_SITE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_SERV",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_SERV",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_ROUT",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_ROUT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_BQTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_BQTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_BUOM",
												"type": "String"
											},
											"sink": {
												"name": "LM02_BUOM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_BAMT",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_BAMT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_MATL",
												"type": "String"
											},
											"sink": {
												"name": "LM02_MATL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_BLAD",
												"type": "String"
											},
											"sink": {
												"name": "LM02_BLAD",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_PORD",
												"type": "String"
											},
											"sink": {
												"name": "LM02_PORD",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_CARR",
												"type": "String"
											},
											"sink": {
												"name": "LM02_CARR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_NOT1",
												"type": "String"
											},
											"sink": {
												"name": "LM02_NOT1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_NOT2",
												"type": "String"
											},
											"sink": {
												"name": "LM02_NOT2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_IDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_IDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_UCHG",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_UCHG",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_MIN",
												"type": "String"
											},
											"sink": {
												"name": "LM02_MIN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_SEQ1",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_SEQ1",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_SEQ2",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_SEQ2",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_FQTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_FQTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_FUOM",
												"type": "String"
											},
											"sink": {
												"name": "LM02_FUOM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_DRATE",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_DRATE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_OWN",
												"type": "String"
											},
											"sink": {
												"name": "LM02_OWN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_LF05ID",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_LF05ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_UCHGUOM",
												"type": "String"
											},
											"sink": {
												"name": "LM02_UCHGUOM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_DRATEUOM",
												"type": "String"
											},
											"sink": {
												"name": "LM02_DRATEUOM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_FINV",
												"type": "String"
											},
											"sink": {
												"name": "LM02_FINV",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_FDAT",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_FDAT",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_FUSE",
												"type": "String"
											},
											"sink": {
												"name": "LM02_FUSE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_FRDT",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_FRDT",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_CDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_CDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_TIN",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_TIN",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_TOUT",
												"type": "DateTime"
											},
											"sink": {
												"name": "LM02_TOUT",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LM02_CM09ID",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_CM09ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_LM05ID",
												"type": "Int32"
											},
											"sink": {
												"name": "LM02_LM05ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_LEED",
												"type": "Boolean"
											},
											"sink": {
												"name": "LM02_LEED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LM02_LEEDWEIGHT",
												"type": "Decimal"
											},
											"sink": {
												"name": "LM02_LEEDWEIGHT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LM02_LEEDWEIGHTUOM",
												"type": "String"
											},
											"sink": {
												"name": "LM02_LEEDWEIGHTUOM",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "LM02",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "LM02",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "RM03U Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LM02 Incremental Delta Load",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from RM03U\nwhere RM03U_ID > @{item().RM03U}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "RM03U_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "RM03U_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "RM03U_CUST",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_CUST",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_SITE",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_SITE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_SERV",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_SERV",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "RM03U_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_ACTV",
												"type": "String"
											},
											"sink": {
												"name": "RM03U_ACTV",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RM03U_REFN",
												"type": "String"
											},
											"sink": {
												"name": "RM03U_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RM03U_TIME",
												"type": "DateTime"
											},
											"sink": {
												"name": "RM03U_TIME",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "RM03U_WONU",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_WONU",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_DATA",
												"type": "String"
											},
											"sink": {
												"name": "RM03U_DATA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RM03U_TTKN",
												"type": "DateTime"
											},
											"sink": {
												"name": "RM03U_TTKN",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "RM03U_UTKN",
												"type": "String"
											},
											"sink": {
												"name": "RM03U_UTKN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RM03U_LOGID",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_LOGID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_CHG",
												"type": "Decimal"
											},
											"sink": {
												"name": "RM03U_CHG",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_TIM2",
												"type": "DateTime"
											},
											"sink": {
												"name": "RM03U_TIM2",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "RM03U_CALLID",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_CALLID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_STORIG",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_STORIG",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_STPREV",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_STPREV",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM03U_STNEXT",
												"type": "Int32"
											},
											"sink": {
												"name": "RM03U_STNEXT",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "RM03U",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "RM03U",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Incremental Loop Over Date Watermark Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Trux Midwest ID Watermark Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Trux Midwest ID Watermark Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RM05 Incremental Delta Load to Staging",
							"description": "Copying delta rows from sql server to the staging tables created for each instance in snowflake (these tables will be dropped after all activities are completed)",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create staging table for RM05",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat(\n    'select * from RM05 where RM05_DATE >DATEADD(day,-', \n    pipeline().parameters.Incremental_Range,\n    ', GETDATE())'\n    )\n}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "RM05",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "RM05_STAGING",
										"Snowflake_Schema": "@item().snowflake_schema"
									}
								}
							]
						},
						{
							"name": "RM05 Snowflake Merge Operation",
							"description": "merge statement to the raw tables. this helps avoids any duplication and upsert the rows needed.",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "RM05 Incremental Delta Load to Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat('merge into ', item().Snowflake_schema,'.','RM05 t \nusing ', \n    item().Snowflake_schema,'.','RM05_STAGING s \non concat(t.rm05_rout, t.rm05_seq1,t.rm05_seq2,t.rm05_date) = concat(s.rm05_rout, s.rm05_seq1,s.rm05_seq2,s.rm05_date) \nwhen matched then update set \n    t.rm05_date = s.rm05_date,\n\tt.rm05_rout = s.rm05_rout,\n\tt.rm05_seq1 = s.rm05_seq1, \n\tt.rm05_seq2 = s.rm05_seq2, \n\tt.rm05_truk = s.rm05_truk,\n\tt.rm05_driv = s.rm05_driv,\n\tt.rm05_help = s.rm05_help,\n\tt.rm05_fuel = s.rm05_fuel,\n\tt.rm05_fuom = s.rm05_fuom,\n\tt.rm05_tim1 = s.rm05_tim1,\n\tt.rm05_tim2 = s.rm05_tim2,\n\tt.rm05_odm1 = s.rm05_odm1,\n\tt.rm05_odm2 = s.rm05_odm2,\n\tt.rm05_ouom = s.rm05_ouom,\n\tt.rm05_note = s.rm05_note,\n\tt.rm05_starthour = s.rm05_starthour,\n\tt.rm05_endhour = s.rm05_endhour,\n\tt.rm05_oil = s.rm05_oil,\n\tt.rm05_oil_uom = s.rm05_oil_uom,\n\tt.rm05_deptime = s.rm05_deptime,\n\tt.rm05_rettime = s.rm05_rettime,\n\tt.rm05_starttime= s.rm05_starttime \nwhen not matched then insert \n\t(\n\tt.rm05_date,\n\tt.rm05_rout,\n\tt.rm05_seq1,\n\tt.rm05_seq2,\n\tt.rm05_truk,\n\tt.rm05_driv,\n\tt.rm05_help,\n\tt.rm05_fuel,\n\tt.rm05_fuom,\n\tt.rm05_tim1,\n\tt.rm05_tim2,\n\tt.rm05_odm1,\n\tt.rm05_odm2,\n\tt.rm05_ouom,\n\tt.rm05_note,\n\tt.rm05_starthour,\n\tt.rm05_endhour,\n\tt.rm05_oil,\n\tt.rm05_oil_uom,\n\tt.rm05_deptime,\n\tt.rm05_rettime,\n\tt.rm05_starttime \n\t)\nvalues \n\t(\n\ts.rm05_date,\n\ts.rm05_rout,\n\ts.rm05_seq1, \n\ts.rm05_seq2, \n\ts.rm05_truk,\n\ts.rm05_driv,\n\ts.rm05_help,\n\ts.rm05_fuel,\n\ts.rm05_fuom,\n\ts.rm05_tim1,\n\ts.rm05_tim2,\n\ts.rm05_odm1,\n\ts.rm05_odm2,\n\ts.rm05_ouom,\n\ts.rm05_note,\n\ts.rm05_starthour,\n\ts.rm05_endhour,\n\ts.rm05_oil,\n\ts.rm05_oil_uom,\n\ts.rm05_deptime,\n\ts.rm05_rettime,\n\ts.rm05_starttime)'\n\t)}\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "SM01 Snowflake Merge Operation_copy1",
							"description": "merge statement to the raw tables. this helps avoids any duplication and upsert the rows needed.",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SM01 Incremental Delta Load to Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat('merge into ', item().snowflake_schema,'.','SM01 t \nusing ', \n    item().snowflake_schema,'.','sm01_staging s \non concat(t.sm01_rout, t.sm01_sequ, t.sm01_date) = concat(s.sm01_rout, s.sm01_sequ, s.sm01_date) \nwhen matched then update set \n\tt.sm01_date= s.sm01_date ,\n\tt.sm01_rout= s.sm01_rout ,\n\tt.sm01_sequ= s.sm01_sequ ,\n\tt.sm01_cust= s.sm01_cust ,\n\tt.sm01_site= s.sm01_site ,\n\tt.sm01_serv= s.sm01_serv ,\n\tt.sm01_qty= s.sm01_qty ,\n\tt.sm01_actv= s.sm01_actv ,\n\tt.sm01_amnt= s.sm01_amnt ,\n\tt.sm01_idte= s.sm01_idte ,\n\tt.sm01_refn= s.sm01_refn ,\n\tt.sm01_time= s.sm01_time ,\n\tt.sm01_wonu = s.sm01_wonu,\n\tt.sm01_data= s.sm01_data ,\n\tt.sm01_logid = s.sm01_logid,\n\tt.sm01_arateid = s.sm01_arateid,\n\tt.sm01_callid = s.sm01_callid,\n\tt.sm01_user= s.sm01_user ,\n\tt.sm01_cdte= s.sm01_cdte ,\n\tt.sm01_tim2= s.sm01_tim2 ,\n\tt.sm01_callnumber= s.sm01_callnumber ,\n\tt.sm01_storig = s.sm01_storig,\n\tt.sm01_stprev =s.sm01_stprev,\n\tt.sm01_stnext = s.sm01_stnext ,\n\tt.sm01_pchg= s.sm01_pchg ,\n\tt.sm01_orig_sequ = s.sm01_orig_sequ \n\nwhen not matched then insert \n\t(\n\tt.sm01_date ,\n\tt.sm01_rout ,\n\tt.sm01_sequ ,\n\tt.sm01_cust ,\n\tt.sm01_site ,\n\tt.sm01_serv ,\n\tt.sm01_qty ,\n\tt.sm01_actv ,\n\tt.sm01_amnt ,\n\tt.sm01_idte ,\n\tt.sm01_refn ,\n\tt.sm01_time ,\n\tt.sm01_wonu,\n\tt.sm01_data ,\n\tt.sm01_logid ,\n\tt.sm01_arateid ,\n\tt.sm01_callid ,\n\tt.sm01_user ,\n\tt.sm01_cdte ,\n\tt.sm01_tim2 ,\n\tt.sm01_callnumber ,\n\tt.sm01_storig, \n\tt.sm01_stprev ,\n\tt.sm01_stnext ,\n\tt.sm01_pchg ,\n\tt.sm01_orig_sequ \n\t)\nvalues \n\t(\n\ts.sm01_date ,\n\ts.sm01_rout ,\n\ts.sm01_sequ ,\n\ts.sm01_cust ,\n\ts.sm01_site ,\n\ts.sm01_serv ,\n\ts.sm01_qty ,\n\ts.sm01_actv ,\n\ts.sm01_amnt ,\n\ts.sm01_idte ,\n\ts.sm01_refn ,\n\ts.sm01_time ,\n\ts.sm01_wonu, \n\ts.sm01_data ,\n\ts.sm01_logid ,\n\ts.sm01_arateid ,\n\ts.sm01_callid ,\n\ts.sm01_user ,\n\ts.sm01_cdte ,\n\ts.sm01_tim2 ,\n\ts.sm01_callnumber ,\n\ts.sm01_storig ,\n\ts.sm01_stprev, \n\ts.sm01_stnext ,\n\ts.sm01_pchg ,\n\ts.sm01_orig_sequ)'\n\t)}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "MT02 Snowflake Merge Operation_copy1_copy1",
							"description": "merge statement to the raw tables. this helps avoids any duplication and upsert the rows needed.",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "MT02 Incremental Delta Load to Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat('merge into ', item().snowflake_schema,'.','mt02 t \nusing ', \n    item().snowflake_schema,'.','mt02_staging s \non concat(t.mt02_refr, t.mt02_lmdate) = concat(s.mt02_refr, s.mt02_lmdate) \nwhen matched then update set \n\tt.mt02_refr= s.mt02_refr ,\n\tt.mt02_cust= s.mt02_cust ,\n\tt.mt02_site= s.mt02_site ,\n\tt.mt02_serv= s.mt02_serv ,\n\tt.mt02_date =s.mt02_date ,\n\tt.mt02_code= s.mt02_code ,\n\tt.mt02_amnt= s.mt02_amnt ,\n\tt.mt02_desc= s.mt02_desc ,\n\tt.mt02_qty= s.mt02_qty ,\n\tt.mt02_idte= s.mt02_idte ,\n\tt.mt02_rout= s.mt02_rout ,\n\tt.mt02_sequ= s.mt02_sequ ,\n\tt.mt02_rate= s.mt02_rate ,\n\tt.mt02_lmuser= s.mt02_lmuser ,\n\tt.mt02_lmdate= s.mt02_lmdate ,\n\tt.mt02_desc0= s.mt02_desc0 ,\n\tt.mt02_desc1= s.mt02_desc1 ,\n\tt.mt02_desc2= s.mt02_desc2 ,\n\tt.mt02_desc3= s.mt02_desc3 ,\n\tt.mt02_lf05id= s.mt02_lf05id ,\n\tt.mt02_own= s.mt02_own ,\n\tt.mt02_schid= s.mt02_schid,\n\tt.mt02_schidw= s.mt02_schidw ,\n\tt.mt02_fcty= s.mt02_fcty \n\nwhen not matched then insert \n\t(\n\tt.mt02_refr ,\n\tt.mt02_cust ,\n\tt.mt02_site ,\n\tt.mt02_serv ,\n\tt.mt02_date ,\n\tt.mt02_code ,\n\tt.mt02_amnt ,\n\tt.mt02_desc ,\n\tt.mt02_qty ,\n\tt.mt02_idte ,\n\tt.mt02_rout ,\n\tt.mt02_sequ ,\n\tt.mt02_rate ,\n\tt.mt02_lmuser ,\n\tt.mt02_lmdate ,\n\tt.mt02_desc0 ,\n\tt.mt02_desc1 ,\n\tt.mt02_desc2 ,\n\tt.mt02_desc3 ,\n\tt.mt02_lf05id ,\n\tt.mt02_own ,\n\tt.mt02_schid ,\n\tt.mt02_schidw ,\n\tt.mt02_fcty \n\t)\nvalues \n\t(\ns.mt02_refr ,\n\ts.mt02_cust ,\n\ts.mt02_site ,\n\ts.mt02_serv ,\n\ts.mt02_date ,\n\ts.mt02_code ,\n\ts.mt02_amnt ,\n\ts.mt02_desc ,\n\ts.mt02_qty ,\n\ts.mt02_idte ,\n\ts.mt02_rout ,\n\ts.mt02_sequ ,\n\ts.mt02_rate ,\n\ts.mt02_lmuser ,\n\ts.mt02_lmdate ,\n\ts.mt02_desc0 ,\n\ts.mt02_desc1 ,\n\ts.mt02_desc2 ,\n\ts.mt02_desc3 ,\n\ts.mt02_lf05id ,\n\ts.mt02_own ,\n\ts.mt02_schid ,\n\ts.mt02_schidw ,\n\ts.mt02_fcty )'\n\t)}\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "SM01 Incremental Delta Load to Staging",
							"description": "Copying delta rows from sql server to the staging tables created for each instance in snowflake (these tables will be dropped after all activities are completed)",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create staging table for SM01",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat(\n    'select * from SM01 where SM01_DATE >DATEADD(day,-', \n    pipeline().parameters.Incremental_Range,\n    ', GETDATE())'\n    )\n}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "SM01",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "SM01_STAGING",
										"Snowflake_Schema": {
											"value": "@item().snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MT02 Incremental Delta Load to Staging",
							"description": "Copying delta rows from sql server to the staging tables created for each instance in snowflake (these tables will be dropped after all activities are completed)",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create staging table for MT02",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat(\n    'select * from MT02 where MT02_DATE >DATEADD(day,-', \n    pipeline().parameters.Incremental_Range,\n    ', GETDATE())'\n    )\n}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								}
							},
							"inputs": [
								{
									"referenceName": "MSAZ01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "MT02",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "MT02_STAGING",
										"Snowflake_Schema": {
											"value": "@item().snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Create staging table for RM05",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat(\n    'Create or replace table ', \n    item().Snowflake_schema,\n    '.RM05_STAGING',\n    ' as select * from ', \n    item().Snowflake_schema,\n    '.RM05 where 1=0'\n    )\n    }",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Create staging table for SM01",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat(\n    'Create or replace table ', \n    item().Snowflake_schema,\n    '.SM01_STAGING',\n    ' as select * from ', \n    item().Snowflake_schema,\n    '.SM01 where 1=0'\n    )\n}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Create staging table for MT02",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat(\n    'Create or replace table ', \n    item().Snowflake_schema,\n    '.MT02_STAGING',\n    ' as select * from ', \n    item().Snowflake_schema,\n    '.MT02 where 1=0'\n    )\n}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Drop staging table for RM05",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "RM05 Snowflake Merge Operation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat(\n    'Drop table ', \n    item().Snowflake_schema,\n    '.RM05_STAGING'\n    )\n}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Drop staging table for SM01",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SM01 Snowflake Merge Operation_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat(\n    'Drop table ', \n    item().Snowflake_schema,\n    '.SM01_STAGING'\n    )\n}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Drop staging table for MT02",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "MT02 Snowflake Merge Operation_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat(\n    'Drop table ', \n    item().Snowflake_schema,\n    '.MT02_STAGING'\n    )\n}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Maximum_DIU": {
				"type": "int",
				"defaultValue": 2
			},
			"Degree_Copy_Parallelism": {
				"type": "int",
				"defaultValue": 8
			},
			"Incremental_Range": {
				"type": "string",
				"defaultValue": "14"
			}
		},
		"variables": {
			"tempArray": {
				"type": "Array"
			},
			"TempResult": {
				"type": "Array"
			},
			"ResultsArray": {
				"type": "Array"
			},
			"OutputArray": {
				"type": "Array"
			},
			"append": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Production/TRUX_OLD"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-27T21:04:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}