pipeline/TRUX_LEGACY_INCREMENTAL_LOAD_FACT_VM.json
{
	"name": "TRUX_LEGACY_INCREMENTAL_LOAD_FACT_VM",
	"properties": {
		"activities": [
			{
				"name": "Trux Legacy ID Watermark Lookup",
				"description": "look up schema, database and table names from sqlsever and snowflake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "VW_TRUX_LEGACY_WATERMARK_PVT",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Incremental Loop Over ID Watermark Tables",
				"description": "Activity to loop over tables that have primary keys with incremental IDs. This loops looks at our Watermark table in Snowflake and appends any IDs found in SQL server that are greater than the latest watermark in Snowflake.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Trux Legacy ID Watermark Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Trux Legacy ID Watermark Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DM01p Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM01P\nwhere DM01P_ID > @{item().DM01P}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										},
										"path": "trux"
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM01P_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM01P_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_BATCH",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_BATCH",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GLNU",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_GLNU",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINKID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINKID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GROUP",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_GROUP",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM01P",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM01P",
										"Snowflake_Schema": "@item().Snowflake_schema"
									}
								}
							]
						},
						{
							"name": "DM05A Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM01p Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM05A\nwhere DM05A_ID > @{item().DM05A}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										},
										"path": "trux"
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05A_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_ROUT",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ROUT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_SEQU",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_SEQU",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_NOTEID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05A",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05A",
										"Snowflake_Schema": "@item().Snowflake_schema"
									}
								}
							]
						},
						{
							"name": "DM05B Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05A Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM05B\nwhere DM05B_ID > @{item().DM05B}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										},
										"path": "trux"
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05B_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ARATEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ARATEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_NOTEID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05B",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05B",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05Z Incremental Delta Load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05B Incremental Delta Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from DM05Z\nwhere DM05Z_ID > @{item().DM05Z}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										},
										"path": "trux"
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05Z_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_NOTEID",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05Z",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05Z",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_schema",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Incremental Loop Over Date Watermark Tables",
				"description": "Activity to loop over tables that have no primary keys with incremental IDs, but instead use dates. This loop pulls in the latest N days worth of fact data from these tables and merges them into the source Snowflake fact tables.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Trux Legacy DT Watermark Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Trux Legacy DT Watermark Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Incremental Delta Load to Staging",
							"description": "Copying delta rows from sql server to the staging tables created for each instance in snowflake (these tables will be dropped after all activities are completed)",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Snowflake Create Staging Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat(\n    'Select * from ',\n    item().sql_db_name,\n    '.dbo.', \n    item().table_name,\n    ' where ',\n    item().table_name,\n    '_date > DATEADD(day, -7, GETDATE())'\n)\n}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "@concat(item().table_name,'_STAGING')",
										"Snowflake_Schema": "@item().snowflake_schema"
									}
								}
							]
						},
						{
							"name": "Snowflake Create Staging Tables",
							"description": "create staging table used to store the delta incremental load. In this staging table, we perform a merge to the main raw table.",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat('Create or replace table ', item().Snowflake_schema,'.',item().table_name,'_staging\n    as \n    select * from ', item().Snowflake_schema,'.',item().table_name,\n    ' where 1=0')}\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "RM05 Snowflake Merge Operation",
							"description": "merge statement to the raw tables. this helps avoids any duplication and upsert the rows needed.",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Incremental Delta Load to Staging",
									"dependencyConditions": [
										"Succeeded",
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat('merge into ', item().Snowflake_schema,'.','RM05 t \nusing ', \n    item().Snowflake_schema,'.','RM05_STAGING s \non concat(t.rm05_rout, t.rm05_seq1,t.rm05_seq2,t.rm05_date) = concat(s.rm05_rout, s.rm05_seq1,s.rm05_seq2,s.rm05_date) \nwhen matched then update set \n    t.rm05_date = s.rm05_date,\n\tt.rm05_rout = s.rm05_rout,\n\tt.rm05_seq1 = s.rm05_seq1, \n\tt.rm05_seq2 = s.rm05_seq2, \n\tt.rm05_truk = s.rm05_truk,\n\tt.rm05_driv = s.rm05_driv,\n\tt.rm05_help = s.rm05_help,\n\tt.rm05_fuel = s.rm05_fuel,\n\tt.rm05_fuom = s.rm05_fuom,\n\tt.rm05_tim1 = s.rm05_tim1,\n\tt.rm05_tim2 = s.rm05_tim2,\n\tt.rm05_odm1 = s.rm05_odm1,\n\tt.rm05_odm2 = s.rm05_odm2,\n\tt.rm05_ouom = s.rm05_ouom,\n\tt.rm05_note = s.rm05_note,\n\tt.rm05_starthour = s.rm05_starthour,\n\tt.rm05_endhour = s.rm05_endhour,\n\tt.rm05_oil = s.rm05_oil,\n\tt.rm05_oil_uom = s.rm05_oil_uom,\n\tt.rm05_deptime = s.rm05_deptime,\n\tt.rm05_rettime = s.rm05_rettime,\n\tt.rm05_starttime= s.rm05_starttime \nwhen not matched then insert \n\t(\n\tt.rm05_date,\n\tt.rm05_rout,\n\tt.rm05_seq1,\n\tt.rm05_seq2,\n\tt.rm05_truk,\n\tt.rm05_driv,\n\tt.rm05_help,\n\tt.rm05_fuel,\n\tt.rm05_fuom,\n\tt.rm05_tim1,\n\tt.rm05_tim2,\n\tt.rm05_odm1,\n\tt.rm05_odm2,\n\tt.rm05_ouom,\n\tt.rm05_note,\n\tt.rm05_starthour,\n\tt.rm05_endhour,\n\tt.rm05_oil,\n\tt.rm05_oil_uom,\n\tt.rm05_deptime,\n\tt.rm05_rettime,\n\tt.rm05_starttime \n\t)\nvalues \n\t(\n\ts.rm05_date,\n\ts.rm05_rout,\n\ts.rm05_seq1, \n\ts.rm05_seq2, \n\ts.rm05_truk,\n\ts.rm05_driv,\n\ts.rm05_help,\n\ts.rm05_fuel,\n\ts.rm05_fuom,\n\ts.rm05_tim1,\n\ts.rm05_tim2,\n\ts.rm05_odm1,\n\ts.rm05_odm2,\n\ts.rm05_ouom,\n\ts.rm05_note,\n\ts.rm05_starthour,\n\ts.rm05_endhour,\n\ts.rm05_oil,\n\ts.rm05_oil_uom,\n\ts.rm05_deptime,\n\ts.rm05_rettime,\n\ts.rm05_starttime)'\n\t)}\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Snowflake Drop Staging Tables",
							"description": "after all activities are completed, we perform the drop operation to clean up the snowflake environment",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "RM05 Snowflake Merge Operation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LRS_Snowflake_V2",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@{concat('drop table if exists ', item().Snowflake_schema,'.',item().table_name,'_STAGING')}\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Trux Legacy DT Watermark Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "select\n*\nfrom\n  lrs_raw.master_data.vw_trux_legacy_watermark\nwhere\n  watermark_type = 'DT'\n  and\n  latest_watermark is not null",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "Destination",
							"Snowflake_Schema": "Tower_Raw"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Maximum_DIU": {
				"type": "int",
				"defaultValue": 8
			},
			"Degree_Copy_Parallelism": {
				"type": "int",
				"defaultValue": 8
			},
			"LastProcessedId": {
				"type": "string"
			},
			"CurrentDate": {
				"type": "string"
			},
			"SchemaName": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			}
		},
		"variables": {
			"tempArray": {
				"type": "Array"
			},
			"TempResult": {
				"type": "Array"
			},
			"ResultsArray": {
				"type": "Array"
			},
			"OutputArray": {
				"type": "Array"
			},
			"append": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-30T17:58:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}