pipeline/TRUX_LEGACY_DATA_LOAD_copy1.json
{
	"name": "TRUX_LEGACY_DATA_LOAD_copy1",
	"properties": {
		"activities": [
			{
				"name": "Loop over databases",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Database Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Database Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy SL01",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name_New,'.SL01')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										}
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SL01_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "SL01_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "SL01_NAME",
												"type": "String"
											},
											"sink": {
												"name": "SL01_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SL01_ADDS",
												"type": "String"
											},
											"sink": {
												"name": "SL01_ADDS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SL01_CITY",
												"type": "String"
											},
											"sink": {
												"name": "SL01_CITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SL01_STAT",
												"type": "String"
											},
											"sink": {
												"name": "SL01_STAT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SL01_PZIP",
												"type": "String"
											},
											"sink": {
												"name": "SL01_PZIP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SL01_LATT",
												"type": "Decimal"
											},
											"sink": {
												"name": "SL01_LATT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "SL01_LONG",
												"type": "Decimal"
											},
											"sink": {
												"name": "SL01_LONG",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "SL01_ACTIVE",
												"type": "Boolean"
											},
											"sink": {
												"name": "SL01_ACTIVE",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "SL01",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "SL01",
										"Snowflake_Schema": "@item().Snowflake_Name_New"
									}
								}
							]
						},
						{
							"name": "Copy SP03",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy SL01",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name_New,'.SP03')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										}
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SP03_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "SP03_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "SP03_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "SP03_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "SP03_CUST",
												"type": "Int32"
											},
											"sink": {
												"name": "SP03_CUST",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "SP03_REFE",
												"type": "String"
											},
											"sink": {
												"name": "SP03_REFE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SP03_SITE",
												"type": "Int32"
											},
											"sink": {
												"name": "SP03_SITE",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "SP03",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "SP03",
										"Snowflake_Schema": "@item().Snowflake_Name_New"
									}
								}
							]
						},
						{
							"name": "Copy CC02",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy SP03",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT \n      [CC02_CUST]\n      ,[CC02_SITE]\n      ,[CC02_TYPE]\n      , NULL AS [CC02_NUMBER]\n      ,[CC02_EXPMO]\n      ,[CC02_EXPYE]\n      , NULL AS [CC02_CVV2]\n      ,[CC02_HFNAME]\n      ,[CC02_HLNAME]\n      ,[CC02_HADD]\n      ,[CC02_HCITY]\n      ,[CC02_HSTAT]\n      ,[CC02_HZIP]\n      ,[CC02_HCOUN]\n      ,[CC02_HPHON]\n      ,[CC02_HEMAIL]\n      ,[CC02_ACTIVE]\n      ,[CC02_CHRGTYPE]\n      ,[CC02_ID]\n      , NULL AS [CC02_ROUTNUM]\n      ,[CC02_ACCTYPE]\n      ,[CC02_BANKN]\n      ,[CC02_LICNUM]\n      ,[CC02_LICSTAT]\n      ,[CC02_DOB]\n      ,[CC02_ACCNAME]\n      ,[CC02_TOKEN]\n      ,[CC02_ACCOUNTTYPE]\nFROM \n      dbo.CC02",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name_New,'.CC02')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										}
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CC02_CUST",
												"type": "Int32"
											},
											"sink": {
												"name": "CC02_CUST",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "CC02_SITE",
												"type": "Int32"
											},
											"sink": {
												"name": "CC02_SITE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "CC02_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "CC02_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_NUMBER",
												"type": "Int32"
											},
											"sink": {
												"name": "CC02_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_EXPMO",
												"type": "String"
											},
											"sink": {
												"name": "CC02_EXPMO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_EXPYE",
												"type": "String"
											},
											"sink": {
												"name": "CC02_EXPYE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_CVV2",
												"type": "Int32"
											},
											"sink": {
												"name": "CC02_CVV2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HFNAME",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HFNAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HLNAME",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HLNAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HADD",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HADD",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HCITY",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HCITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HSTAT",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HSTAT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HZIP",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HZIP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HCOUN",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HCOUN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HPHON",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HPHON",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_HEMAIL",
												"type": "String"
											},
											"sink": {
												"name": "CC02_HEMAIL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_ACTIVE",
												"type": "Boolean"
											},
											"sink": {
												"name": "CC02_ACTIVE",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"name": "CC02_CHRGTYPE",
												"type": "String"
											},
											"sink": {
												"name": "CC02_CHRGTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "CC02_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "CC02_ROUTNUM",
												"type": "Int32"
											},
											"sink": {
												"name": "CC02_ROUTNUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_ACCTYPE",
												"type": "String"
											},
											"sink": {
												"name": "CC02_ACCTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_BANKN",
												"type": "String"
											},
											"sink": {
												"name": "CC02_BANKN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_LICNUM",
												"type": "String"
											},
											"sink": {
												"name": "CC02_LICNUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_LICSTAT",
												"type": "String"
											},
											"sink": {
												"name": "CC02_LICSTAT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CC02_DOB",
												"type": "DateTime"
											},
											"sink": {
												"name": "CC02_DOB",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "CC02_ACCNAME",
												"type": "String"
											},
											"sink": {
												"name": "CC02_ACCNAME",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "CC02",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "CC02",
										"Snowflake_Schema": "@item().Snowflake_Name_New"
									}
								}
							]
						},
						{
							"name": "Copy LF05O",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy CC02",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name_New,'.LF05O')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "msaz01_dm01_Azure_Blob",
											"type": "LinkedServiceReference"
										}
									}
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "LF05O_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "LF05O_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LF05O_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "LF05O_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "LF05O_ORIG",
												"type": "String"
											},
											"sink": {
												"name": "LF05O_ORIG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LF05O_PERC",
												"type": "Decimal"
											},
											"sink": {
												"name": "LF05O_PERC",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "LF05O",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "LF05O",
										"Snowflake_Schema": "@item().Snowflake_Name_New"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Database Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "SELECT * FROM LRS_RAW.MASTER_DATA.DATABASE_LOOKUP_TRUX_COMBINED\nWHERE SERVERNAME = 'LEGACY';",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "DATABASE_LOOKUP_TRUX_COMBINED",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Maximum_DIU": {
				"type": "int",
				"defaultValue": 2
			},
			"Degree_Copy_Parallelism": {
				"type": "int",
				"defaultValue": 8
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-27T13:51:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}