pipeline/TRUX_LEGACY_FULL_LOAD_FACT.json
{
	"name": "TRUX_LEGACY_FULL_LOAD_FACT",
	"properties": {
		"activities": [
			{
				"name": "Loop over databases",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Database Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Database Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DM01p Copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name,'.DM01P')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM01P_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM01P_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_BATCH",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_BATCH",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GLNU",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_GLNU",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINKID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINKID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GROUP",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_GROUP",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM01P",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM01P",
										"Snowflake_Schema": "@item().Snowflake_Name"
									}
								}
							]
						},
						{
							"name": "DM05B Copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05A Copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name,'.DM05B')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05B_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ARATEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ARATEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05B",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05B",
										"Snowflake_Schema": "@item().Snowflake_Name"
									}
								}
							]
						},
						{
							"name": "DM05Z Copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05B Copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name,'.DM05Z')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05Z_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05Z",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05Z",
										"Snowflake_Schema": "@item().Snowflake_Name"
									}
								}
							]
						},
						{
							"name": "DM05A Copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM01p Copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"preCopyScript": {
										"value": "@{concat('truncate table',' ',item().Snowflake_Name,'.DM05A')}",
										"type": "Expression"
									},
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "CONTINUE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "msaz01_dm01_Azure_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05A_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_ROUT",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ROUT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_SEQU",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_SEQU",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_LEGACY01",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05A",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05A",
										"Snowflake_Schema": "@item().Snowflake_Name"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Database Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "DATABASE_LOOKUP_TRUX_LEGACY",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Maximum_DIU": {
				"type": "int",
				"defaultValue": 2
			},
			"Degree_Copy_Parallelism": {
				"type": "int",
				"defaultValue": 8
			}
		},
		"folder": {
			"name": "Production/TRUX_OLD"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-30T17:58:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}