pipeline/TRUX_INCREMENTAL_LOAD_FACT_NEW.json
{
	"name": "TRUX_INCREMENTAL_LOAD_FACT_NEW",
	"properties": {
		"activities": [
			{
				"name": "Trux ID Watermark Lookup",
				"description": "look up schema, database and table names from sqlsever and snowflake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2_New",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "VW_TRUX_WATERMARK_PVT",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Incremental Loop Over ID Watermark Tables",
				"description": "Activity to loop over tables that have primary keys with incremental IDs. This loops looks at our Watermark table in Snowflake and appends any IDs found in SQL server that are greater than the latest watermark in Snowflake.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Trux ID Watermark Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Trux ID Watermark Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DM01P",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "select * from DM01P\nwhere DM01P_ID > @{item().DM01P}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "MSAZ01_SQL_P12_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM01P_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM01P_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM01P_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM01P_BATCH",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_BATCH",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GLNU",
												"type": "String"
											},
											"sink": {
												"name": "DM01P_GLNU",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM01P_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_LINKID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_LINKID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM01P_GROUP",
												"type": "Int32"
											},
											"sink": {
												"name": "DM01P_GROUP",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_MSAZ01_SQL_P12",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM01P",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										},
										"server": "MSAZ01-SQL-P12"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2_New",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM01P",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_Schema_New",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05A",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM01P",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "select * from DM05A\nwhere DM05A_ID > @{item().DM05A}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "MSAZ01_SQL_P12_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05A_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_ROUT",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_ROUT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_SEQU",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05A_SEQU",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05A_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05A_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05A_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05A_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05A_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05A_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_MSAZ01_SQL_P12",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05A",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										},
										"server": "MSAZ01-SQL-P12"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2_New",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05A",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_Schema_New",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05B",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05A",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "select * from DM05B\nwhere DM05B_ID > @{item().DM05B}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "MSAZ01_SQL_P12_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05B_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05B_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLF",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_BILLT",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ARATEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_ARATEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05B_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05B_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05B_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05B_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05B_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05B_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_MSAZ01_SQL_P12",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05B",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										},
										"server": "MSAZ01-SQL-P12"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2_New",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05B",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_Schema_New",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DM05Z",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05B",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "select * from DM05Z\nwhere DM05Z_ID > @{item().DM05Z}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "MSAZ01_SQL_P12_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "DM05Z_ID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_LINK",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_LINK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_TDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_AMNT",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_AMNT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_QTY",
												"type": "Decimal"
											},
											"sink": {
												"name": "DM05Z_QTY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_REFN",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_REFN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_PERIODCLOSEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "DM05Z_USER",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_USER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_RTYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "DM05Z_RDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DM05Z_ADJR",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_ADJR",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DM05Z_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DM05Z_NOTEID",
												"type": "Int32"
											},
											"sink": {
												"name": "DM05Z_NOTEID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_MSAZ01_SQL_P12",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "DM05Z",
										"database": {
											"value": "@item().sql_db_name",
											"type": "Expression"
										},
										"server": "MSAZ01-SQL-P12"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2_New",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05Z",
										"Snowflake_Schema": {
											"value": "@item().Snowflake_Schema_New",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "RM07",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DM05Z",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ADF_TIMESTAMP",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "select * from RM07\nwhere format(RM07_RDTE,'yyyyMMdd') > @{item().RM07}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand",
										"additionalCopyOptions": {
											"ON_ERROR": "SKIP_FILE"
										}
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "MSAZ01_SQL_P12_Blob",
										"type": "LinkedServiceReference"
									},
									"path": "staging",
									"enableCompression": true
								},
								"parallelCopies": {
									"value": "@pipeline().parameters.Degree_Copy_Parallelism",
									"type": "Expression"
								},
								"enableSkipIncompatibleRow": true,
								"dataIntegrationUnits": {
									"value": "@pipeline().parameters.Maximum_DIU",
									"type": "Expression"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "RM07_RDTE",
												"type": "DateTime"
											},
											"sink": {
												"name": "RM07_RDTE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "RM07_ROUT",
												"type": "Int32"
											},
											"sink": {
												"name": "RM07_ROUT",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM07_REASON",
												"type": "String"
											},
											"sink": {
												"name": "RM07_REASON",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RM07_TIME",
												"type": "Int32"
											},
											"sink": {
												"name": "RM07_TIME",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM07_TRUK",
												"type": "Int32"
											},
											"sink": {
												"name": "RM07_TRUK",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM07_ODOM",
												"type": "Int32"
											},
											"sink": {
												"name": "RM07_ODOM",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "RM07_STIME",
												"type": "DateTime"
											},
											"sink": {
												"name": "RM07_STIME",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "RM07_ETIME",
												"type": "DateTime"
											},
											"sink": {
												"name": "RM07_ETIME",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "RM07_DRIV",
												"type": "Int32"
											},
											"sink": {
												"name": "RM07_DRIV",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "ADF_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "ADF_TIMESTAMP",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TRUX_MSAZ01_SQL_P12",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "RM07",
										"database": "@item().sql_db_name",
										"server": "MSAZ01-SQL-P12"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LRS_Snowflake_Raw_V2_New",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "RM07",
										"Snowflake_Schema": "@item().Snowflake_Schema_New"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Maximum_DIU": {
				"type": "int",
				"defaultValue": 2
			},
			"Degree_Copy_Parallelism": {
				"type": "int",
				"defaultValue": 8
			},
			"Incremental_Range": {
				"type": "string",
				"defaultValue": "14"
			}
		},
		"variables": {
			"tempArray": {
				"type": "Array"
			},
			"TempResult": {
				"type": "Array"
			},
			"ResultsArray": {
				"type": "Array"
			},
			"OutputArray": {
				"type": "Array"
			},
			"append": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Production/TRUX"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-30T17:58:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}