pipeline/TRUX_LEGACY_test3.json
{
	"name": "TRUX_LEGACY_test3",
	"properties": {
		"activities": [
			{
				"name": "Loop over databases",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Database Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Database Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RM05 Last ID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(RM05_ROUT) AS LASTPROCESSEDID FROM @{item().SchemaName}.RM05;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "RM05",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SM01 Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "RM05 Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(SM01_LOGID) AS LASTPROCESSEDID FROM @{item().SchemaName}.SM01;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "SM01",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "DM01 Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "SM01 Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(DM01_ID) AS LASTPROCESSEDID FROM @{item().SchemaName}.DM01;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM01",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "DM01P Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DM01 Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(DM01P_ID) AS LASTPROCESSEDID FROM @{item().SchemaName}.DM01P;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM01P",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "DM05A_ID Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DM01P Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(DM05A_ID) AS LASTPROCESSEDID FROM @{item().SchemaName}.DM05A;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05A",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "DM05B Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DM05A_ID Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(DM05B_ID) AS LASTPROCESSEDID FROM @{item().SchemaName}.DM05B;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05B",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "DM05FT Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DM05B Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(DM05FT_ID) AS LASTPROCESSEDID FROM @{item().SchemaName}.DM05FT;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05FT",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "DM05Z Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DM05FT Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(DM05Z_ID) AS LASTPROCESSEDID FROM @{item().SchemaName}.DM05Z;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "DM05Z",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "LM02 Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "DM05Z Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(LM02_NUMB) AS LASTPROCESSEDID FROM @{item().SchemaName}.LM02;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "LM02",
										"Snowflake_Schema": "@item().SchemaName"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "MT02 Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LM02 Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(MT02_REFR) AS LASTPROCESSEDID FROM @{item().SchemaName}.MT02;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "MT02",
										"Snowflake_Schema": {
											"value": "@item().SchemaName",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "RM03U Last ID",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "MT02 Last ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "SELECT MAX(RM03U_ID) AS LASTPROCESSEDID FROM @{item().SchemaName}.RM03U;",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "LRS_Snowflake_Raw_V2",
									"type": "DatasetReference",
									"parameters": {
										"Snowflake_Sink_Table": "RM03U",
										"Snowflake_Schema": {
											"value": "@item().SchemaName",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Database Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "SELECT 'LRS_RAW' as DatabaseName, TABLE_NAME as TableName,TABLE_SCHEMA as SchemaName\r\nFROM INFORMATION_SCHEMA.TABLES INS\r\nWHERE TABLE_SCHEMA in ('TRUX_CD_COMP_RAW','TRUX_DC_COMP_RAW','TRUX_ES_COMP_RAW','TRUX_HR_COMP_RAW','TRUX_LR_COMP_RAW','TRUX_MC_COMP_RAW','TRUX_MH_COMP_RAW',\r\n    'TRUX_MO_COMP_RAW','TRUX_MP_COMP_RAW','TRUX_MW_COMP_RAW','TRUX_NI_COMP_RAW','TRUX_PS_COMP_RAW','TRUX_RS_COMP_RAW','TRUX_RT_COMP_RAW',\r\n    'TRUX_RZ_COMP_RAW','TRUX_SH_COMP_RAW','TRUX_SW_COMP_RAW','TRUX_TP_COMP_RAW','TRUX_WA_COMP_RAW')\r\n    AND TABLENAME IN ('RM05','SM01','DM01','DM01p','DM05A','DM05B','DM05FT','DM05Z','LM02','MT02','RM03U')\r\norder by table_name;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LRS_Snowflake_Raw_V2",
						"type": "DatasetReference",
						"parameters": {
							"Snowflake_Sink_Table": "DATABASE_LKPWATERMARK_TRUX_LEGACY",
							"Snowflake_Schema": "MASTER_DATA"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Maximum_DIU": {
				"type": "int",
				"defaultValue": 8
			},
			"Degree_Copy_Parallelism": {
				"type": "int",
				"defaultValue": 8
			},
			"LastProcessedId": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-30T17:58:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}